@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f242d;
    font-family: "Poppins", sans-serif;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px 10%;
}
.logo {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 100px;
    cursor: default;
    animation: logo 1s ease forwards;
    opacity: 0;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 0px 16px;
    font-weight: 600;
    transition: 0.3s all;
    animation: navMenu 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
    opacity: 0;
}

.navbar a:hover {
    color: #0ef;
}

.container {
    display: flex;
    padding: 25px 10%;
    justify-content: center;
    align-items: center;
}

.ruel {
    font-size: 75px;
    letter-spacing: 1px;
    font-weight: 700;
    animation: ruel 1s ease forwards;
}

.info-side h3 span {
    color: #0ef;
}

.itsme {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    letter-spacing: 1px;
    animation: itsme 1s ease forwards;
    opacity: 0;
}

.webdev {
    animation: webdev 1s ease forwards;
    opacity: 0;
}

p {
    line-height: 27px;
    margin: 20px 0px 40px 0px;
    animation: description 1s ease forwards;
    opacity: 0;
}

.my-pic img {
    position: absolute;
    width: 700px;
    left: 70%;
    bottom: 25%;
    border-radius: 50%;
    border: 10px solid #0ef;
}

i {
    position: relative;
    border: 2px solid #0ef;
    padding: 10px;
    border-radius: 50px;
    color: #0ef;
    margin: 0px 8px;
    transition: 0.3ms;
}

i:hover {
    box-shadow: 0 0 20px #0ef;
}

.download {
    background-color: #0ef;
    margin-top: 50px;
    padding: 20px 70px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
    box-shadow: 0 0 15px #0ef;
}

.download:hover {
    box-shadow: none;
}

@keyframes logo {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes navMenu {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes itsme {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes webdev {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes ruel {
    0% {
        transform: translateX(400px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes description {
    0% {
        transform: translateX(400px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}